

.dark-mode .modal-content {
  background-color: #0c0c0d;
  color: #ffffff;
}

.dark-mode .custom-modal .modal-header,
.dark-mode .custom-modal .modal-body,
.dark-mode .custom-modal .modal-footer {
  background-color: #0c0c0d;
  color: #ffffff;
}

.dark-mode .custom-modal .close {
  color: #ffffff;
}

.dark-mode .description {
  color: #ffffff;
}

.dark-mode .technologies-title {
  color: #ffffff;
}

.dark-mode .list-group-item {
  background: #161618;
  color: #ffffff;
  
}

.custom-modal {
  backdrop-filter: blur(10px);
  z-index: 1000000;
}

.custom-modal .modal-backdrop {
  z-index: 999999;
}

.swiper-container {
  width: 100%;
  height: 100%; /* Adjust the height as needed */
  position: relative;
  margin-bottom: 20px; /* Add margin to separate it from the text below */
}

/* Swiper slide images */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images cover the container */
}

/* Swiper buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Change the color if needed */
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  position: absolute;
  
}


.description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.technologies-title {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.technologies-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.technologies-list li {
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 16px;
}

.technologies-list li i {
  margin-right: 5px;
  color: #6c757d;
}
